.navbar {
    box-sizing: border-box;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 20px 0 20px;
}

.navbarLogo {
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    font-weight: 800;
}

.navbarLink {
    text-decoration: none;
    margin-left: 40px;
    font-size: 1.1rem;
    color: white;
    transition: all 0.1s;
    font-weight: 600;
}

.navbarLink:hover {
    color: #c0fcf7;
}

.hamburger{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
}

.burger{
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: white;
    transform-origin: 1px;
    transition: all 0.3s linear;
}